{% extends '_layout/main.html' %}
{% from '_widget/form.html' import field, input_field %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container">
  <div class="small-width center-block">
    <h4 class="text-center">Log in to your account</h4>
    <form action="{{ url_for('auth.login', next=request.args.next) }}" method="post">
      {{ form.hidden_tag() }}
      {{ input_field(form.username) }}
      {{ input_field(form.password) }}
      {{ field(form.login, 'button info full-width') }}
    </form>
  </div>
</div>
{% endblock %}
