{% extends '_layout/main.html' %}
{% block title %}Profile{% endblock %}
{% block content %}
<div class="container">
  <div class="clearfix">
    <div class="pull-left spacer">
      <img class="avatar" src="{{ avatar(current_user.email, 80) }}" width="80" height="80">
    </div>
    <div class="pull-left spacer small-width">
      <div class="row">
        <h3>{{ current_user.username }}</h3>
        <h4 class="text-muted">{{ current_user.email }}</h4>
      </div>
      <hr>
      <div class="row">
        <div class="pull-right">
          <a class="button" href="{{ url_for('auth.setting') }}">
            <span class="octicon octicon-gear"></span> Setting
          </a>
          <a class="button danger" href="{{ url_for('auth.logout') }}">
            <span class="octicon octicon-sign-out"></span> Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
