{% macro footer() %}
<footer class="footer">
  <div class="container text-center">
    <div class="pull-left">
      <span class="text-muted">&copy; 2015&dash;2016</span>
    </div>
    <span class="octicon octicon-paintcan"></span>
    with
    <span class="octicon octicon-heart"></span>
    <div class="pull-right">
      <a class="text-muted" href="mailto:{{ config.MASTER_EMAIL }}">
        <span class="octicon octicon-mail"></span>
        {{ _('Contact Me') }}
      </a>
    </div>
  </div>
</footer>
{% endmacro %}
