{% extends '_layout/main.html' %}
{% block title %}About{% endblock %}
{% block headtag %}
{{ super() }}
<style>
.term {
  background-color: inherit;
  color: inherit;
}
.term:after {
  content: "\00a0";
  background-color: currentColor;
  font-size: 80%;
  -webkit-animation: blink 1s ease-in-out infinite;
  animation: blink 1s ease-in-out infinite;
}
@-webkit-keyframes blink {
  50% { opacity: 0 }
}
@keyframes blink {
  50% { opacity: 0 }
}
</style>
{% endblock %}
{% block content %}
<header>
  <div class="container">
    <p class="h3 text-center">
      <code class="term">Program::(planned action)=>idea->action->intelligence</code>
    </p>
    <hr>
  </div>
</header>
<div class="container">
  <div class="small-width center-block">
    <div class="h4">
      <p>欢迎来到我的博客，一个记录生活，自然，想法的地方。</p>
      <p>我是一个技术宅，程序Coder，开源技术的坚定支持者，喜欢挖掘程序设计的本质，对任何新技术
        都抱有浓厚的兴趣。
        我相信科技与革新会让生活更高效，希望能在此和大家分享自己的想法、见闻、以及一切有趣的事物。
      </p>
      <p>若文中存在不正确的地方，请不吝赐教。</p>
      <p>欢迎随时与我联系。</p>
      <p class="text-right">by Tianyu, 2016</p>
    </div>
    <ul class="pull-right">
      <li>
        <span class="spacer octicon octicon-mail-read"></span>
        <a class="text-primary" href="mailto:letianyu@aliyun.com">letianyu@aliyun.com</a>
      </li>
      <li>
        <span class="spacer octicon octicon-mark-github"></span>
        <a class="text-primary">github.com/skylerlee</a>
      </li>
      <li>
        <span class="spacer octicon octicon-organization"></span>
        <a class="text-primary" href="https://github.com/radmonlab">radmonlab</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
